body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: sans-serif;
}
#wrapper {
    max-width: 950px;
    margin: 0 auto;
}
#content {
    padding: 10px;
}
.text {
    font-size: 14px;
}
.mainTitle {
    margin: 0 0 20px;
    padding: 40px 20px;
    border-bottom: 1px solid #eee;
    color: #666;
}
.titleStar {
    padding: 10px;
    border-left: 4px solid #5d8596;
    font-size: 16px;
}
.carListTool {
    height: 35px;
    margin-bottom: 1px;
    padding: 10px;
    background: #eee;
}
.labelStatus {
    display: block;
    float: left;
    margin-top: 8px;
    margin-right: 10px;
    font-size: 14px;
}
.btnStars {
    display: block;
    float: left;
    width: 120px;
    height: 28px;
    padding-top: 3px;
    background: #329e51;
    border-bottom: 3px solid #237149;
    /*
    border-radius: 5px;
    background: #00b3ff;
    */
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
.starStatus3:after {
    content: "★★★☆☆☆";
    color: #f9dc3b;
    line-height: 1.9;
}
.starStatus4:after {
    content: "★★★★☆☆";
    color: #f9dc3b;
    line-height: 1.9;
}
.starStatus5:after {
    content: "★★★★★☆";
    color: #f9dc3b;
    line-height: 1.9;
}
.starStatus6:after {
    content: "★★★★★★";
    color: #f9dc3b;
    line-height: 1.9;
}
.btnPlus {
    display: block;
    float: left;
    width: 45px;
    height: 28px;
    padding-top: 3px;
    margin-left: 20px;
    padding-left: 15px;
    border-bottom: 3px solid #415d69;
    background: #5d8596;
    /*
    border-radius: 5px;
    background: #3f93b7;
    background: #6fbd5b;
    */
    color: #333;
    text-align: center;
    text-decoration: none;
}
.btnPlus span {
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    margin-top: 7px;
    border-radius: 6px;
    background: #eee;
    color: #999;
    font-family: "arial", sans-serif;
    font-size: 12px;
    line-height: 1;
    text-align: center;
}
.btnPlus .firstPlus {
    margin-right: 5px;
}
.plusStatus1 .firstPlus {
    background: #5bff54;
    color: #333;
}
.plusStatus2 .firstPlus,
.plusStatus2 .secondPlus {
    background: #5bff54;
    color: #333;
}
.carList {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
    font-size: 14px;
}
.carList th {
    padding: 5px;
    border: 1px solid #ddd;
    background: #888;
    color: #fff;
    /*
    background: #eaf7fd;
    */
}
.carList td {
    padding: 5px;
    border: 1px solid #ddd;
    background: #f8f8f8;
}
@media screen and (max-width: 500px) {
    #wrapper {
        width: auto;
    }
    .carListTool {
        height: 55px;
    }
    .labelStatus {
        float: none;
        margin-top: 0;
    }
}
@media screen and (max-width: 412px) {
    .carList {
    }
}
