<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
<title>[ドリフトスピリッツ] 戦闘力のシミュレーションができる車種一覧</title>
<meta name="description" content="ドリフトスピリッツの車種一覧です。レアリティや＋を指定したり、パーツ、愛車レベルを入力して戦闘力のシミュレーションができます。仲間、XD車、☆7車/パーツに対応しました。S2000ナナメ773, 911 GT3 991, 女子カート部, S660 ファミスタなどのイベント車を追加しました。">
<meta name="fragment" content="!">
<link rel="stylesheet" href="css/list.css?t=112" media="all">
<link rel="canonical" href="http://manoamano.starfree.jp/content/driftspirits/car/list.html">
</head>
<body>

<div id="wrapper">
<h1 class="mainTitle">ドリフトスピリッツ 車種一覧</h1>

<div id="content">
<p class="text">初期レアリティ別に表示しています。レアリティや＋を指定したり、パーツ、愛車レベルを入力して戦闘力のシミュレーションができます。<br>
※星7は解禁/未解禁も含めて計算上の値を表示しています。</p>

<h3 class="titleSetting">表示設定</h3>
<ul class="viewSetting clearfix">
<li><a href="#" class="btnViewSetting" id="shownNitroless"><span></span>ニトロ抜き</a></li>
<li><a href="#" class="btnViewSetting" id="shownPerformance"><span></span>コスパ</a></li>
</ul>

<label for="filteringText" class="text">車名で絞込み: </label><input type="text" id="filteringText" class="iptText">

<div id="threeStars">
<h3 class="titleStar">初期レアリティ☆☆☆ (星3)</h3>
<input type="text" v-model="filteringText" class="hiddenText">
<div class="carListTool">
<span class="labelStatus">ステータス:</span>
<a href="#" class="btnStars starStatus{{stars}}" v-on:click="incrementStar"></a>
<a href="#" class="btnPlus plusStatus{{plus}}" v-on:click="incrementPlus"><span class="firstPlus">+</span><span class="secondPlus">+</span></a>
<a href="#" class="btnParts" v-on:click="toggleParts">パーツ</a>
</div>
<div class="parts clearfix close" id="threeStarsParts">
<ul>
<li>
<dl class="clearfix">
<dt>愛車レベル</dt>
<dd>レベル: <input type="tel" v-model="carLevel" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>エンジン</dt>
<dd>サイズ: <input type="tel" v-model="parts.engine.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.engine.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>トランスミッション</dt>
<dd>サイズ: <input type="tel" v-model="parts.transmission.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.transmission.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>タイヤ</dt>
<dd>サイズ: <input type="tel" v-model="parts.tire.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.tire.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ニトロ</dt>
<dd>サイズ: <input type="tel" v-model="parts.nitro.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.nitro.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ECU</dt>
<dd>サイズ: <input type="tel" v-model="parts.ecu.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.ecu.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd class="freeType">種類: <select v-model="parts.free1.selected">
<option v-for="option in parts.free1.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free1.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free1.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd class="freeType">種類: <select v-model="parts.free2.selected">
<option v-for="option in parts.free2.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free2.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free2.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>仲間</dt>
<dd>高速: <input type="tel" v-model="parts.nakama.speed" class="iptParts"></dd>
<dd>加速: <input type="tel" v-model="parts.nakama.acceleration" class="iptParts"></dd>
<dd>ハンドリング: <input type="tel" v-model="parts.nakama.handling" class="iptParts"></dd>
</dl>
</li>
</ul>
<div class="btns">
<a href="#" v-on:click="saveParts" class="btnSave">反映</a>
<span class="saveMessage">{{saveMessage}}</span>
</div>
</div>
<div class="tableWrapper">
<table class="carList">
<tr>
<th>車名</th>
<th>戦闘力</th>
<th>高速</th>
<th>加速</th>
<th>ハンドリング</th>
<th>ニトロ</th>
<th>燃費</th>
<th v-if="shownNitroless" class="nitroless">ニトロ抜き</th>
<th v-if="shownPerformance" class="performance">コスパ</th>
</tr>
<tr v-for="car in filteredCars">
<td><a href="{{car.link}}" v-if="car.link !== undefined" target="_blank">{{car.name}}</a><span v-else>{{car.name}}</span></td>
<td>{{car.power}}</td>
<td>{{car.speed}}</td>
<td>{{car.acceleration}}</td>
<td>{{car.handling}}</td>
<td>{{car.nitro}}</td>
<td>{{car.efficiency}}</td>
<td v-if="shownNitroless" class="nitroless">{{(car.speed + car.acceleration + car.handling) / 20}}</td>
<td v-if="shownPerformance" class="performance">{{(car.power / car.efficiency).toFixed(2)}}</td>
</tr>
</table>
</div>
</div>

<div id="fourStars">
<h3 class="titleStar">初期レアリティ☆☆☆☆ (星4)</h3>
<input type="text" v-model="filteringText" class="hiddenText">
<div class="carListTool">
<span class="labelStatus">ステータス:</span>
<a href="#" class="btnStars starStatus{{stars}}" v-on:click="incrementStar"></a>
<a href="#" class="btnPlus plusStatus{{plus}}" v-on:click="incrementPlus"><span class="firstPlus">+</span><span class="secondPlus">+</span></a>
<a href="#" class="btnParts" v-on:click="toggleParts">パーツ</a>
</div>
<div class="parts clearfix close" id="fourStarsParts">
<ul>
<li>
<dl class="clearfix">
<dt>愛車レベル</dt>
<dd>レベル: <input type="tel" v-model="carLevel" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>エンジン</dt>
<dd>サイズ: <input type="tel" v-model="parts.engine.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.engine.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>トランスミッション</dt>
<dd>サイズ: <input type="tel" v-model="parts.transmission.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.transmission.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>タイヤ</dt>
<dd>サイズ: <input type="tel" v-model="parts.tire.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.tire.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ニトロ</dt>
<dd>サイズ: <input type="tel" v-model="parts.nitro.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.nitro.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ECU</dt>
<dd>サイズ: <input type="tel" v-model="parts.ecu.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.ecu.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd class="freeType">種類: <select v-model="parts.free1.selected">
<option v-for="option in parts.free1.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free1.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free1.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd class="freeType">種類: <select v-model="parts.free2.selected">
<option v-for="option in parts.free2.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free2.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free2.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>仲間</dt>
<dd>高速: <input type="tel" v-model="parts.nakama.speed" class="iptParts"></dd>
<dd>加速: <input type="tel" v-model="parts.nakama.acceleration" class="iptParts"></dd>
<dd>ハンドリング: <input type="tel" v-model="parts.nakama.handling" class="iptParts"></dd>
</dl>
</li>
</ul>
<div class="btns">
<a href="#" v-on:click="saveParts" class="btnSave">反映</a>
<span class="saveMessage">{{saveMessage}}</span>
</div>
</div>
<div class="tableWrapper">
<table class="carList">
<tr>
<th>車名</th>
<th>戦闘力</th>
<th>高速</th>
<th>加速</th>
<th>ハンドリング</th>
<th>ニトロ</th>
<th>燃費</th>
<th v-if="shownNitroless" class="nitroless">ニトロ抜き</th>
<th v-if="shownPerformance" class="performance">コスパ</th>
</tr>
<tr v-for="car in filteredCars">
<td><a href="{{car.link}}" v-if="car.link !== undefined" target="_blank">{{car.name}}</a><span v-else>{{car.name}}</span></td>
<td>{{car.power}}</td>
<td>{{car.speed}}</td>
<td>{{car.acceleration}}</td>
<td>{{car.handling}}</td>
<td>{{car.nitro}}</td>
<td>{{car.efficiency}}</td>
<td v-if="shownNitroless" class="nitroless">{{(car.speed + car.acceleration + car.handling) / 20}}</td>
<td v-if="shownPerformance" class="performance">{{(car.power / car.efficiency).toFixed(2)}}</td>
</tr>
</table>
</div>
</div>

<div id="fiveStars">
<h3 class="titleStar">初期レアリティ☆☆☆☆☆ (星5)</h3>
<input type="text" v-model="filteringText" class="hiddenText">
<div class="carListTool">
<span class="labelStatus">ステータス:</span>
<a href="#" class="btnStars starStatus{{stars}}" v-on:click="incrementStar"></a>
<a href="#" class="btnPlus plusStatus{{plus}}" v-on:click="incrementPlus"><span class="firstPlus">+</span><span class="secondPlus">+</span></a>
<a href="#" class="btnParts" v-on:click="toggleParts">パーツ</a>
</div>
<div class="parts clearfix close" id="fiveStarsParts">
<ul>
<li>
<dl class="clearfix">
<dt>愛車レベル</dt>
<dd>レベル: <input type="tel" v-model="carLevel" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>エンジン</dt>
<dd>サイズ: <input type="tel" v-model="parts.engine.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.engine.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>トランスミッション</dt>
<dd>サイズ: <input type="tel" v-model="parts.transmission.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.transmission.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>タイヤ</dt>
<dd>サイズ: <input type="tel" v-model="parts.tire.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.tire.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ニトロ</dt>
<dd>サイズ: <input type="tel" v-model="parts.nitro.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.nitro.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ECU</dt>
<dd>サイズ: <input type="tel" v-model="parts.ecu.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.ecu.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd class="freeType">種類: <select v-model="parts.free1.selected">
<option v-for="option in parts.free1.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free1.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free1.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd class="freeType">種類: <select v-model="parts.free2.selected">
<option v-for="option in parts.free2.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free2.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free2.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>仲間</dt>
<dd>高速: <input type="tel" v-model="parts.nakama.speed" class="iptParts"></dd>
<dd>加速: <input type="tel" v-model="parts.nakama.acceleration" class="iptParts"></dd>
<dd>ハンドリング: <input type="tel" v-model="parts.nakama.handling" class="iptParts"></dd>
</dl>
</li>
</ul>
<div class="btns">
<a href="#" v-on:click="saveParts" class="btnSave">反映</a>
<span class="saveMessage">{{saveMessage}}</span>
</div>
</div>
<div class="tableWrapper">
<table class="carList">
<tr>
<th>車名</th>
<th>戦闘力</th>
<th>高速</th>
<th>加速</th>
<th>ハンドリング</th>
<th>ニトロ</th>
<th>燃費</th>
<th v-if="shownNitroless" class="nitroless">ニトロ抜き</th>
<th v-if="shownPerformance" class="performance">コスパ</th>
</tr>
<tr v-for="car in filteredCars">
<td><a href="{{car.link}}" v-if="car.link !== undefined" target="_blank">{{car.name}}</a><span v-else>{{car.name}}</span></td>
<td>{{car.power}}</td>
<td>{{car.speed}}</td>
<td>{{car.acceleration}}</td>
<td>{{car.handling}}</td>
<td>{{car.nitro}}</td>
<td>{{car.efficiency}}</td>
<td v-if="shownNitroless" class="nitroless">{{(car.speed + car.acceleration + car.handling) / 20}}</td>
<td v-if="shownPerformance" class="performance">{{(car.power / car.efficiency).toFixed(2)}}</td>
</tr>
</table>
</div>
</div>

<div id="sixStars">
<h3 class="titleStar">初期レアリティ☆☆☆☆☆☆ (星6)</h3>
<input type="text" v-model="filteringText" class="hiddenText">
<div class="carListTool">
<span class="labelStatus">ステータス:</span>
<a href="#" class="btnStars starStatus{{stars}}" v-on:click="incrementStar"></a>
<a href="#" class="btnPlus plusStatus{{plus}}" v-on:click="incrementPlus"><span class="firstPlus">+</span><span class="secondPlus">+</span></a>
<a href="#" class="btnParts" v-on:click="toggleParts">パーツ</a>
</div>
<div class="parts clearfix close" id="sixStarsParts">
<ul>
<li>
<dl class="clearfix">
<dt>愛車レベル</dt>
<dd>レベル: <input type="tel" v-model="carLevel" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>エンジン</dt>
<dd>サイズ: <input type="tel" v-model="parts.engine.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.engine.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>トランスミッション</dt>
<dd>サイズ: <input type="tel" v-model="parts.transmission.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.transmission.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>タイヤ</dt>
<dd>サイズ: <input type="tel" v-model="parts.tire.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.tire.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ニトロ</dt>
<dd>サイズ: <input type="tel" v-model="parts.nitro.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.nitro.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ECU</dt>
<dd>サイズ: <input type="tel" v-model="parts.ecu.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.ecu.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd class="freeType">種類: <select v-model="parts.free1.selected">
<option v-for="option in parts.free1.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free1.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free1.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd class="freeType">種類: <select v-model="parts.free2.selected">
<option v-for="option in parts.free2.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free2.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free2.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>仲間</dt>
<dd>高速: <input type="tel" v-model="parts.nakama.speed" class="iptParts"></dd>
<dd>加速: <input type="tel" v-model="parts.nakama.acceleration" class="iptParts"></dd>
<dd>ハンドリング: <input type="tel" v-model="parts.nakama.handling" class="iptParts"></dd>
</dl>
</li>
</ul>
<div class="btns">
<a href="#" v-on:click="saveParts" class="btnSave">反映</a>
<span class="saveMessage">{{saveMessage}}</span>
</div>
</div>
<div class="tableWrapper">
<table class="carList">
<tr>
<th>車名</th>
<th>戦闘力</th>
<th>高速</th>
<th>加速</th>
<th>ハンドリング</th>
<th>ニトロ</th>
<th>燃費</th>
<th v-if="shownNitroless" class="nitroless">ニトロ抜き</th>
<th v-if="shownPerformance" class="performance">コスパ</th>
</tr>
<tr v-for="car in filteredCars">
<td><a href="{{car.link}}" v-if="car.link !== undefined" target="_blank">{{car.name}}</a><span v-else>{{car.name}}</span></td>
<td>{{car.power}}</td>
<td>{{car.speed}}</td>
<td>{{car.acceleration}}</td>
<td>{{car.handling}}</td>
<td>{{car.nitro}}</td>
<td>{{car.efficiency}}</td>
<td v-if="shownNitroless" class="nitroless">{{(car.speed + car.acceleration + car.handling) / 20}}</td>
<td v-if="shownPerformance" class="performance">{{(car.power / car.efficiency).toFixed(2)}}</td>
</tr>
</table>
</div>
</div>

<div id="sevenStars">
<h3 class="titleStar">初期レアリティ☆☆☆☆☆☆ (星7)</h3>
<input type="text" v-model="filteringText" class="hiddenText">
<div class="carListTool">
<span class="labelStatus">ステータス:</span>
<a href="#" class="btnStars starStatus{{stars}}" v-on:click="incrementStar"></a>
<a href="#" class="btnParts" v-on:click="toggleParts">パーツ</a>
</div>
<div class="parts clearfix close" id="sevenStarsParts">
<ul>
<li>
<dl class="clearfix">
<dt>愛車レベル</dt>
<dd>レベル: <input type="tel" v-model="carLevel" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>エンジン</dt>
<dd>サイズ: <input type="tel" v-model="parts.engine.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.engine.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>トランスミッション</dt>
<dd>サイズ: <input type="tel" v-model="parts.transmission.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.transmission.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>タイヤ</dt>
<dd>サイズ: <input type="tel" v-model="parts.tire.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.tire.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ニトロ</dt>
<dd>サイズ: <input type="tel" v-model="parts.nitro.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.nitro.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ECU</dt>
<dd>サイズ: <input type="tel" v-model="parts.ecu.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.ecu.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd class="freeType">種類: <select v-model="parts.free1.selected">
<option v-for="option in parts.free1.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free1.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free1.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd class="freeType">種類: <select v-model="parts.free2.selected">
<option v-for="option in parts.free2.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free2.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free2.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>仲間</dt>
<dd>高速: <input type="tel" v-model="parts.nakama.speed" class="iptParts"></dd>
<dd>加速: <input type="tel" v-model="parts.nakama.acceleration" class="iptParts"></dd>
<dd>ハンドリング: <input type="tel" v-model="parts.nakama.handling" class="iptParts"></dd>
</dl>
</li>
</ul>
<div class="btns">
<a href="#" v-on:click="saveParts" class="btnSave">反映</a>
<span class="saveMessage">{{saveMessage}}</span>
</div>
</div>
<div class="tableWrapper">
<table class="carList">
<tr>
<th>車名</th>
<th>戦闘力</th>
<th>高速</th>
<th>加速</th>
<th>ハンドリング</th>
<th>ニトロ</th>
<th>燃費</th>
<th v-if="shownNitroless" class="nitroless">ニトロ抜き</th>
<th v-if="shownPerformance" class="performance">コスパ</th>
</tr>
<tr v-for="car in filteredCars">
<td><a href="{{car.link}}" v-if="car.link !== undefined" target="_blank">{{car.name}}</a><span v-else>{{car.name}}</span></td>
<td>{{car.power}}</td>
<td>{{car.speed}}</td>
<td>{{car.acceleration}}</td>
<td>{{car.handling}}</td>
<td>{{car.nitro}}</td>
<td>{{car.efficiency}}</td>
<td v-if="shownNitroless" class="nitroless">{{(car.speed + car.acceleration + car.handling) / 20}}</td>
<td v-if="shownPerformance" class="performance">{{(car.power / car.efficiency).toFixed(2)}}</td>
</tr>
</table>
</div>
</div>

<div id="footer">
<p>お問い合わせ: <a href="https://twitter.com/drsp_tarooo">@drsp_tarooo</a></p>
</div>


<div id="compareDialog"></div>

</div>
</div>

<div id="footerMenu">
<div class="container">
<a href="#" id="btnCompare">比較する</a>
</div>
</div>

<script type="text/x-template" id="modalTemplate">
<div id="modal">
<div class="modalBox">
<a href="#" class="btnClose">x</a>
<h3 class="titleCompare">比較</h3>
<div class="tableWrapper">
<table class="carList">
<tr>
<th>車名</th>
<th>戦闘力</th>
<th>高速</th>
<th>加速</th>
<th>ハンドリング</th>
<th>ニトロ</th>
<th>燃費</th>
<th class="nitroless">ニトロ抜き</th>
<th class="performance">コスパ</th>
</tr>
{{carList}}
</table>
</div>
</div>
<div class="modalBg"></div>
</div>
</script>

<script src="js/carlist.js?t=0912"></script>
<script src="js/app.js?t=105"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-75407936-1', 'auto');
ga('send', 'pageview');
</script>
</body>
</html>
