<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
<title>ドリフトスピリッツ 車種一覧</title>
<meta name="description" content="ドリフトスピリッツの車種一覧です。レアリティや＋を指定したり、パーツ、愛車レベルを入力して戦闘力のシミュレーションができます。湾岸コラボ車, BMW Z4, Serval Cat, Greyhound, S800, ハコスカ, SUBARU360, Miura, SPORTS800, Gallardoを追加しました。">
<meta name="fragment" content="!">
<link rel="stylesheet" href="css/list.css" media="all">
</head>
<body>

<div id="wrapper">
<h1 class="mainTitle">ドリフトスピリッツ 車種一覧</h1>

<div id="content">
<p class="text">初期レアリティ別に表示しています。レアリティや＋を指定したり、パーツ、愛車レベルを入力して戦闘力のシミュレーションができます。</p>

<div id="threeStars">
<h3 class="titleStar">初期レアリティ☆☆☆ (星3)</h3>
<div class="carListTool">
<span class="labelStatus">ステータス:</span>
<a href="#" class="btnStars starStatus{{stars}}" v-on:click="incrementStar"></a>
<a href="#" class="btnPlus plusStatus{{plus}}" v-on:click="incrementPlus"><span class="firstPlus">+</span><span class="secondPlus">+</span></a>
<a href="#" class="btnParts" v-on:click="toggleParts">パーツ</a>
</div>
<div class="parts clearfix close" id="threeStarsParts">
<ul>
<li>
<dl class="clearfix">
<dt>愛車レベル</dt>
<dd>レベル: <input type="tel" v-model="carLevel" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>エンジン</dt>
<dd>サイズ: <input type="tel" v-model="parts.engine.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.engine.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>トランスミッション</dt>
<dd>サイズ: <input type="tel" v-model="parts.transmission.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.transmission.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>タイヤ</dt>
<dd>サイズ: <input type="tel" v-model="parts.tire.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.tire.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ニトロ</dt>
<dd>サイズ: <input type="tel" v-model="parts.nitro.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.nitro.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ECU</dt>
<dd>サイズ: <input type="tel" v-model="parts.ecu.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.ecu.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd>種類: <select v-model="parts.free1.selected">
<option v-for="option in parts.free1.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free1.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free1.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd>種類: <select v-model="parts.free2.selected">
<option v-for="option in parts.free2.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free2.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free2.level" class="iptParts"></dd>
</dl>
</li>
</ul>
<div class="btns">
<a href="#" v-on:click="saveParts" class="btnSave">保存</a>
<span class="saveMessage">{{saveMessage}}</span>
</div>
</div>
<table class="carList">
<tr>
<th>車名</th>
<th>戦闘力</th>
<th>高速</th>
<th>加速</th>
<th>ハンドリング</th>
<th>ニトロ</th>
<th>燃費</th>
</tr>
<tr v-for="car in cars">
<td><a href="{{car.link}}" v-if="car.link !== undefined" target="_blank">{{car.name}}</a><span v-else>{{car.name}}</span></td>
<td>{{car.power}}</td>
<td>{{car.speed}}</td>
<td>{{car.acceleration}}</td>
<td>{{car.handling}}</td>
<td>{{car.nitro}}</td>
<td>{{car.efficiency}}</td>
</tr>
</table>
</div>

<div id="fourStars">
<h3 class="titleStar">初期レアリティ☆☆☆☆ (星4)</h3>
<div class="carListTool">
<span class="labelStatus">ステータス:</span>
<a href="#" class="btnStars starStatus{{stars}}" v-on:click="incrementStar"></a>
<a href="#" class="btnPlus plusStatus{{plus}}" v-on:click="incrementPlus"><span class="firstPlus">+</span><span class="secondPlus">+</span></a>
<a href="#" class="btnParts" v-on:click="toggleParts">パーツ</a>
</div>
<div class="parts clearfix close" id="fourStarsParts">
<ul>
<li>
<dl class="clearfix">
<dt>愛車レベル</dt>
<dd>レベル: <input type="tel" v-model="carLevel" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>エンジン</dt>
<dd>サイズ: <input type="tel" v-model="parts.engine.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.engine.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>トランスミッション</dt>
<dd>サイズ: <input type="tel" v-model="parts.transmission.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.transmission.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>タイヤ</dt>
<dd>サイズ: <input type="tel" v-model="parts.tire.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.tire.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ニトロ</dt>
<dd>サイズ: <input type="tel" v-model="parts.nitro.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.nitro.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ECU</dt>
<dd>サイズ: <input type="tel" v-model="parts.ecu.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.ecu.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd>種類: <select v-model="parts.free1.selected">
<option v-for="option in parts.free1.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free1.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free1.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd>種類: <select v-model="parts.free2.selected">
<option v-for="option in parts.free2.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free2.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free2.level" class="iptParts"></dd>
</dl>
</li>
</ul>
<div class="btns">
<a href="#" v-on:click="saveParts" class="btnSave">保存</a>
<span class="saveMessage">{{saveMessage}}</span>
</div>
</div>
<table class="carList">
<tr>
<th>車名</th>
<th>戦闘力</th>
<th>高速</th>
<th>加速</th>
<th>ハンドリング</th>
<th>ニトロ</th>
<th>燃費</th>
</tr>
<tr v-for="car in cars">
<td><a href="{{car.link}}" v-if="car.link !== undefined" target="_blank">{{car.name}}</a><span v-else>{{car.name}}</span></td>
<td>{{car.power}}</td>
<td>{{car.speed}}</td>
<td>{{car.acceleration}}</td>
<td>{{car.handling}}</td>
<td>{{car.nitro}}</td>
<td>{{car.efficiency}}</td>
</tr>
</table>
</div>

<div id="fiveStars">
<h3 class="titleStar">初期レアリティ☆☆☆☆☆ (星5)</h3>
<div class="carListTool">
<span class="labelStatus">ステータス:</span>
<a href="#" class="btnStars starStatus{{stars}}" v-on:click="incrementStar"></a>
<a href="#" class="btnPlus plusStatus{{plus}}" v-on:click="incrementPlus"><span class="firstPlus">+</span><span class="secondPlus">+</span></a>
<a href="#" class="btnParts" v-on:click="toggleParts">パーツ</a>
</div>
<div class="parts clearfix close" id="fiveStarsParts">
<ul>
<li>
<dl class="clearfix">
<dt>愛車レベル</dt>
<dd>レベル: <input type="tel" v-model="carLevel" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>エンジン</dt>
<dd>サイズ: <input type="tel" v-model="parts.engine.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.engine.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>トランスミッション</dt>
<dd>サイズ: <input type="tel" v-model="parts.transmission.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.transmission.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>タイヤ</dt>
<dd>サイズ: <input type="tel" v-model="parts.tire.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.tire.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ニトロ</dt>
<dd>サイズ: <input type="tel" v-model="parts.nitro.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.nitro.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ECU</dt>
<dd>サイズ: <input type="tel" v-model="parts.ecu.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.ecu.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd>種類: <select v-model="parts.free1.selected">
<option v-for="option in parts.free1.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free1.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free1.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd>種類: <select v-model="parts.free2.selected">
<option v-for="option in parts.free2.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free2.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free2.level" class="iptParts"></dd>
</dl>
</li>
</ul>
<div class="btns">
<a href="#" v-on:click="saveParts" class="btnSave">保存</a>
<span class="saveMessage">{{saveMessage}}</span>
</div>
</div>
<table class="carList">
<tr>
<th>車名</th>
<th>戦闘力</th>
<th>高速</th>
<th>加速</th>
<th>ハンドリング</th>
<th>ニトロ</th>
<th>燃費</th>
</tr>
<tr v-for="car in cars">
<td><a href="{{car.link}}" v-if="car.link !== undefined" target="_blank">{{car.name}}</a><span v-else>{{car.name}}</span></td>
<td>{{car.power}}</td>
<td>{{car.speed}}</td>
<td>{{car.acceleration}}</td>
<td>{{car.handling}}</td>
<td>{{car.nitro}}</td>
<td>{{car.efficiency}}</td>
</tr>
</table>
</div>

<div id="sixStars">
<h3 class="titleStar">初期レアリティ☆☆☆☆☆☆ (星6)</h3>
<div class="carListTool">
<span class="labelStatus">ステータス:</span>
<a href="#" class="btnStars starStatus{{stars}}" v-on:click="incrementStar"></a>
<a href="#" class="btnPlus plusStatus{{plus}}" v-on:click="incrementPlus"><span class="firstPlus">+</span><span class="secondPlus">+</span></a>
<a href="#" class="btnParts" v-on:click="toggleParts">パーツ</a>
</div>
<div class="parts clearfix close" id="sixStarsParts">
<ul>
<li>
<dl class="clearfix">
<dt>愛車レベル</dt>
<dd>レベル: <input type="tel" v-model="carLevel" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>エンジン</dt>
<dd>サイズ: <input type="tel" v-model="parts.engine.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.engine.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>トランスミッション</dt>
<dd>サイズ: <input type="tel" v-model="parts.transmission.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.transmission.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>タイヤ</dt>
<dd>サイズ: <input type="tel" v-model="parts.tire.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.tire.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ニトロ</dt>
<dd>サイズ: <input type="tel" v-model="parts.nitro.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.nitro.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ECU</dt>
<dd>サイズ: <input type="tel" v-model="parts.ecu.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.ecu.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd>種類: <select v-model="parts.free1.selected">
<option v-for="option in parts.free1.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free1.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free1.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd>種類: <select v-model="parts.free2.selected">
<option v-for="option in parts.free2.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free2.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free2.level" class="iptParts"></dd>
</dl>
</li>
</ul>
<div class="btns">
<a href="#" v-on:click="saveParts" class="btnSave">保存</a>
<span class="saveMessage">{{saveMessage}}</span>
</div>
</div>
<table class="carList">
<tr>
<th>車名</th>
<th>戦闘力</th>
<th>高速</th>
<th>加速</th>
<th>ハンドリング</th>
<th>ニトロ</th>
<th>燃費</th>
</tr>
<tr v-for="car in cars">
<td><a href="{{car.link}}" v-if="car.link !== undefined" target="_blank">{{car.name}}</a><span v-else>{{car.name}}</span></td>
<td>{{car.power}}</td>
<td>{{car.speed}}</td>
<td>{{car.acceleration}}</td>
<td>{{car.handling}}</td>
<td>{{car.nitro}}</td>
<td>{{car.efficiency}}</td>
</tr>
</table>
</div>


<div id="compareDialog"></div>

</div>
</div>

<div id="footerMenu">
<div class="container">
<a href="#" id="btnCompare">比較する</a>
</div>
</div>

<script type="text/x-template" id="modalTemplate">
<div id="modal">
<div class="modalBox">
<a href="#" class="btnClose">x</a>
<h3 class="titleCompare">比較</h3>
<table class="carList">
<tr>
<th>車名</th>
<th>戦闘力</th>
<th>高速</th>
<th>加速</th>
<th>ハンドリング</th>
<th>ニトロ</th>
<th>燃費</th>
</tr>
{{carList}}
</table>
</div>
<div class="modalBg"></div>
</div>
</script>

<script>
var threeStarsCars = [
        {name:"ROADSTER RS NCEC-爆加-",power:445,speed:2125,acceleration:1040,handling:2225,nitro:3525,efficiency:325},
        {name:"DART GT",power:443,speed:2135,acceleration:745,handling:2245,nitro:3745,efficiency:315},
        {name:"FAIRLADY Z S30 -Version 735-",power:438,speed:2165,acceleration:786,handling:2795,nitro:3030,efficiency:325},
        {name:"MAZDASPEED ATENZA GG3P",power:435,speed:2200,acceleration:600,handling:2200,nitro:3700,efficiency:315},
        {name:"INTEGRA TYPE-R DC5",power:432,speed:2162,acceleration:462,handling:2462,nitro:3562,efficiency:300},
        {name:"MR2 GT-S SW20",power:431,speed:2180,acceleration:580,handling:2280,nitro:3580,efficiency:320},
        {name:"LEVIN SR AE85 [SPEED STARS]",power:431,speed:2196,acceleration:546,handling:2296,nitro:3596,efficiency:310},
        {name:"CIVIC TYPE-R EK-9",power:429,speed:2136,acceleration:436,handling:2386,nitro:3636,efficiency:290},
        {name:"LEGACY B4 BM9",power:429,speed:2210,acceleration:560,handling:2210,nitro:3610,efficiency:315},
        {name:"ColtGalant GTO-MR A53C",power:429,speed:2121,acceleration:721,handling:2031,nitro:3721,efficiency:300},
        {name:"TOYOTA 86 ZN6",power:424,speed:2147,acceleration:547,handling:2247,nitro:3547,efficiency:300},
        {name:"SUBARU BRZ ZC6",power:424,speed:2147,acceleration:547,handling:2247,nitro:3547,efficiency:300},
        {name:"SYNCi \"PAC-MAN\" SP",power:422,speed:2156,acceleration:836,handling:2156,nitro:3306,efficiency:310},
        {name:"FTO DE3A",power:421,speed:2147,acceleration:547,handling:2197,nitro:3547,efficiency:310},
        {name:"FAIRLADY Z S30-爆高-",power:421,speed:2296,acceleration:446,handling:2196,nitro:3496,efficiency:350},
        {name:"180SX RPS13",power:420,speed:2151,acceleration:501,handling:2201,nitro:3551,efficiency:315},
        {name:"CooperS F56",power:420,speed:2129,acceleration:429,handling:2229,nitro:3629,efficiency:280},
        {name:"CELICA XX 2800GT MA61",power:420,speed:2126,acceleration:526,handling:2126,nitro:3626,efficiency:325},
        {name:"ROADSTER NCEC",power:420,speed:2125,acceleration:525,handling:2225,nitro:3525,efficiency:305},
        {name:"CR-Z ZF2",power:419,speed:2088,acceleration:618,handling:2088,nitro:3588,efficiency:265},
        {name:"SPRINTER TRUENO AE86",power:416,speed:2096,acceleration:546,handling:2196,nitro:3496,efficiency:305},
        {name:"SPRINTER TRUENO AE86-爆エコ-",power:411,speed:2076,acceleration:526,handling:2196,nitro:3426,efficiency:285},
        {name:"FAIRLADY Z S30",power:411,speed:2096,acceleration:446,handling:2196,nitro:3496,efficiency:340},
        {name:"SUBARU360 K111",power:398,speed:1921,acceleration:421,handling:2211,nitro:3421,efficiency:280},
        {name:"HIACE [北見サイクル]",power:387,speed:2088,acceleration:288,handling:1988,nitro:3388,efficiency:325}
    ],
    fourStarsCars = [
        /*
        {name:"FALKEN PETORONAS OTG86",power:485,speed:2451,acceleration:851,handling:2551,nitro:3851,efficiency:430},
        {name:"SUNOCO/Diversion/Dixcel SILVIA",power:483,speed:2404,acceleration:754,handling:2604,nitro:3904,efficiency:435},
        {name:"HKS Racing Performer 86",power:480,speed:2366,acceleration:766,handling:2716,nitro:3766,efficiency:420},
        */
        {name:"BRZ \"Greyhound\"",power:488,speed:2832,acceleration:980,handling:2832,nitro:3127,efficiency:410},
        {name:"LANCER Evolution IX \"BlackSwan\"",power:488,speed:2505,acceleration:1123,handling:2505,nitro:3643,efficiency:410},
        {name:"SKYLINE GT-R BNR34 \"赤蜻蛉\"",power:487,speed:2456,acceleration:806,handling:2556,nitro:3936,efficiency:400},
        {name:"RX-7 FD3S 荻島SPL",power:485,speed:2336,acceleration:1131,handling:2626,nitro:3626,efficiency:410},
        {name:"SUPRA RZ JZA80 \"モンスターマシーン\"",power:485,speed:2401,acceleration:921,handling:2451,nitro:3931,efficiency:455},
        {name:"ROADSTER \"飛燕\"",power:484,speed:2307,acceleration:960,handling:2671,nitro:3752,efficiency:395},
        {name:"B-WEST 180SX with 柿本改 D2",power:484,speed:2339,acceleration:701,handling:2730,nitro:3922,efficiency:415},
        {name:"LEVIN GT-APEX AE86 秋山渉Ver.",power:481,speed:2709,acceleration:1003,handling:2017,nitro:3906,efficiency:405},
        {name:"CAMARO SS RS",power:479,speed:2398,acceleration:798,handling:2398,nitro:3998,efficiency:430},
        {name:"ハダカスープラ",power:479,speed:2602,acceleration:718,handling:2327,nitro:3944,efficiency:415},
        {name:"Z4 sDrive35is E89",power:478,speed:2450,acceleration:970,handling:2550,nitro:3600,efficiency:390},
        {name:"RC926 with TOYO TIRES SILVIA",power:478,speed:2360,acceleration:789,handling:2569,nitro:3855,efficiency:405},
        {name:"TOYO TIRES DRIFT S15 SILVIA'15",power:478,speed:2412,acceleration:722,handling:2521,nitro:3922,efficiency:410},
        {name:"CHARGER SRT8",power:478,speed:2417,acceleration:1117,handling:2117,nitro:3917,efficiency:440},
        {name:"FLATレーシング/SKYLINE R33",power:478,speed:2431,acceleration:931,handling:2131,nitro:4081,efficiency:465},
        {name:"FD3S 頭文字D-夢現-Ver.",power:476,speed:2467,acceleration:792,handling:2469,nitro:3800,efficiency:400},
        {name:"FALKEN PETRONAS OTG86'15",power:473,speed:2397,acceleration:815,handling:2611,nitro:3646,efficiency:400},
        {name:"RK coupe",power:471,speed:2334,acceleration:834,handling:2434,nitro:3834,efficiency:385},
        {name:"LANCER EvolutionVIII MR CT9A",power:471,speed:2306,acceleration:706,handling:2506,nitro:3906,efficiency:405},
        {name:"FAIRLADY Z S30 \"悪魔のZ\"",power:471,speed:2347,acceleration:847,handling:2272,nitro:3972,efficiency:420},
        /*
        {name:"AE86 頭文字D Ver.",power:470,speed:2276,acceleration:726,handling:2726,nitro:3676,efficiency:410},
        */
        {name:"LANCER EvolutionV CP9A",power:468,speed:2306,acceleration:756,handling:2406,nitro:3906,efficiency:405},
        {name:"SKYLINE GT-R BNR32",power:468,speed:2306,acceleration:656,handling:2506,nitro:3906,efficiency:420},
        {name:"SKYLINE GT-R BNR34",power:468,speed:2306,acceleration:656,handling:2506,nitro:3906,efficiency:420},
        {name:"CHARGER R/T",power:468,speed:2394,acceleration:944,handling:2144,nitro:3894,efficiency:440},
        /*
        {name:"DRIVE TOPTUL ADVAN 86",power:467,speed:2261,acceleration:661,handling:2361,nitro:4061,efficiency:405},
        */
        {name:"S2000 AP1",power:466,speed:2284,acceleration:584,handling:2584,nitro:3884,efficiency:390},
        {name:"SUPRA RZ JZA80",power:466,speed:2306,acceleration:706,handling:2406,nitro:3906,efficiency:410},
        {name:"CHASER JZX100 -爆加-",power:466,speed:2306,acceleration:956,handling:2406,nitro:3656,efficiency:405},
        {name:"ARISTO V300 JZS161",power:466,speed:2305,acceleration:1005,handling:2005,nitro:4005,efficiency:400},
        {name:"AE86 頭文字D-夢現- Ver.",power:465,speed:2222,acceleration:716,handling:2723,nitro:3652,efficiency:375},
        {name:"TOYOTA 86 ZN6 -爆ハン-",power:464,speed:2247,acceleration:647,handling:2747,nitro:3647,efficiency:390},
        {name:"LANCER EvolutionIII CE9A",power:464,speed:2299,acceleration:699,handling:2399,nitro:3899,efficiency:400},
        {name:"GTO Z16A",power:463,speed:2306,acceleration:656,handling:2306,nitro:4006,efficiency:420},
        {name:"IMPREZA WRX STi VersionVI GC8",power:463,speed:2306,acceleration:656,handling:2406,nitro:3906,efficiency:400},
        {name:"IMPREZA WRX STI GDB-F",power:463,speed:2306,acceleration:656,handling:2406,nitro:3906,efficiency:400},
        {name:"SKYLINE GT-R BCNR33",power:463,speed:2306,acceleration:656,handling:2406,nitro:3906,efficiency:410},
        {name:"RX-8 SE3P",power:462,speed:2286,acceleration:686,handling:2486,nitro:3786,efficiency:405},
        {name:"IMPREZA WRX STi GDB-C",power:462,speed:2306,acceleration:636,handling:2406,nitro:3906,efficiency:395},
        {name:"SILVIA K's S13 [SPEED STARS]",power:462,speed:2364,acceleration:655,handling:2504,nitro:3722,efficiency:380},
        {name:"SAVANNA RX-7 FC3S",power:460,speed:2251,acceleration:651,handling:2551,nitro:3751,efficiency:430},
        {name:"SILVIA spec.R S15",power:459,speed:2284,acceleration:634,handling:2484,nitro:3784,efficiency:390},
        {name:"CHASER JZX100",power:456,speed:2306,acceleration:656,handling:2406,nitro:3756,efficiency:405},
        {name:"CORVETTE C3",power:454,speed:2324,acceleration:724,handling:2124,nitro:3924,efficiency:435},
        {name:"CROWN ATHLETE GRS204",power:451,speed:2332,acceleration:732,handling:2132,nitro:3832,efficiency:405},
        {name:"SKYLINE 2000GT-R KPGC10",power:450,speed:2317,acceleration:767,handling:2217,nitro:3717,efficiency:365},
        {name:"S800",power:448,speed:2105,acceleration:855,handling:2355,nitro:3655,efficiency:360},
        {name:"ALCYONE SVX CXD",power:442,speed:2277,acceleration:627,handling:2177,nitro:3777,efficiency:420},
        {name:"SPORTS800 UP15",power:430,speed:2153,acceleration:653,handling:2153,nitro:3653,efficiency:345}
    ],
    fiveStarsCars = [
        /*
        {name:"雨宮SUNOCO RX-7",power:508,speed:2494,acceleration:794,handling:2794,nitro:4094,efficiency:550},
        {name:"TOYO TIRES DRIFT S15",power:506,speed:2519,acceleration:869,handling:2719,nitro:4019,efficiency:520},
        {name:"UP GARAGE・FALKEN・HT86",power:498,speed:2481,acceleration:1031,handling:2581,nitro:3881,efficiency:475},
        */
        {name:"RX-7 Type R FD3S [PROJECT.D]",power:520,speed:2722,acceleration:1033,handling:2645,nitro:4001,efficiency:505},
        {name:"IMPREZA WRX STi GC8 藤原文太Ver.",power:519,speed:2705,acceleration:1123,handling:2847,nitro:3720,efficiency:500},
        {name:"TRUENO GT-APEX AE86 [PROJECT.D]",power:517,speed:2346,acceleration:943,handling:3344,nitro:3725,efficiency:475},
        {name:"RX-7 FC3S [PROJECT.D]",power:517,speed:2636,acceleration:937,handling:3046,nitro:3736,efficiency:485},
        {name:"GReddy 35RX Spec-D",power:517,speed:2490,acceleration:1069,handling:2774,nitro:4020,efficiency:500},
        {name:"BMW M5 F10M",power:517,speed:2612,acceleration:962,handling:2612,nitro:4162,efficiency:500},
        {name:"VIPER SRT10",power:513,speed:2604,acceleration:1254,handling:2504,nitro:3904,efficiency:530},
        {name:"TOYOTA 86 \"Serval Cat\"",power:512,speed:2626,acceleration:1222,handling:3026,nitro:3370,efficiency:495},
        {name:"S2000 AP1 \"雀蜂\"",power:510,speed:2614,acceleration:754,handling:2814,nitro:4034,efficiency:485},
        {name:"NSX NA1 北条豪Ver.",power:508,speed:2661,acceleration:938,handling:2743,nitro:3828,efficiency:500},
        {name:"FAIRLADY Z NISMO Z34",power:506,speed:2617,acceleration:897,handling:2617,nitro:4001,efficiency:490},
        {name:"CTR",power:504,speed:2525,acceleration:1005,handling:2655,nitro:3905,efficiency:500},
        {name:"TOPTUL M7 NATS 86",power:503,speed:2379,acceleration:1000,handling:2902,nitro:3789,efficiency:450},
        {name:"RE雨宮 GruppeM-RX7",power:502,speed:2459,acceleration:900,handling:2677,nitro:4011,efficiency:510},
        {name:"Miura P400SV",power:501,speed:2667,acceleration:897,handling:2449,nitro:4015,efficiency:490},
        {name:"LANCER Evolution FINAL EDITION",power:499,speed:2438,acceleration:801,handling:2733,nitro:4021,efficiency:470},
        {name:"FAIRLADY Z 300ZX Z31 原田Ver.",power:499,speed:2471,acceleration:1071,handling:2491,nitro:3951,efficiency:510},
        {name:"ZERO/SAVANNA RX-7 GT-X",power:499,speed:2471,acceleration:871,handling:2691,nitro:3951,efficiency:510},
        {name:"FD3S 頭文字D Ver.",power:499,speed:2426,acceleration:826,handling:2576,nitro:4156,efficiency:540},
        {name:"NSX TYPE-R NA2",power:498,speed:2406,acceleration:856,handling:2706,nitro:4006,efficiency:495},
        {name:"RX-7 Type R FD3S [林チューン]",power:498,speed:2486,acceleration:986,handling:2706,nitro:3786,efficiency:500},
        {name:"IMPREZA WRX STI GRB",power:497,speed:2427,acceleration:827,handling:2677,nitro:4027,efficiency:475},
        {name:"LANCER EvolutionX CZ4A",power:497,speed:2421,acceleration:771,handling:2721,nitro:4041,efficiency:480},
        {name:"RX-8 SE3P -爆ハン-",power:497,speed:2386,acceleration:786,handling:2886,nitro:3886,efficiency:505},
        {name:"LANCER EvolutionIX MR CT9A",power:496,speed:2406,acceleration:906,handling:2606,nitro:4006,efficiency:480},
        {name:"FC3S 頭文字D Ver.",power:495,speed:2391,acceleration:891,handling:2691,nitro:3941,efficiency:540},
        {name:"FC3S 頭文字D-夢現-Ver.",power:493,speed:2490,acceleration:842,handling:2711,nitro:3833,efficiency:460},
        {name:"RX-7 FD3S",power:491,speed:2406,acceleration:706,handling:2706,nitro:4006,efficiency:510},
        {name:"YM SPEED/SKYLINE R32",power:489,speed:2391,acceleration:811,handling:2691,nitro:3891,efficiency:460},
        {name:"SILEIGHTY 真子＆沙雪Ver.",power:489,speed:2291,acceleration:861,handling:2781,nitro:3860,efficiency:465},
        {name:"FAIRLADY Z Z34",power:489,speed:2447,acceleration:797,handling:2547,nitro:3997,efficiency:490},
        {name:"COSMO SPORTS L10B",power:483,speed:2450,acceleration:1027,handling:2150,nitro:4035,efficiency:455},
        {name:"SKYLINE COUPE CKV36",power:481,speed:2445,acceleration:795,handling:2445,nitro:3945,efficiency:485},
        {name:"ROADSTER ND5RC",power:474,speed:2396,acceleration:946,handling:2546,nitro:3596,efficiency:430},
        {name:"FUGA 370GT TypeS Y51",power:474,speed:2445,acceleration:695,handling:2345,nitro:3995,efficiency:485},
        {name:"2000GT MF10",power:467,speed:2310,acceleration:810,handling:2410,nitro:3810,efficiency:440}
    ],
    sixStarsCars = [
        {name:"GT-R NISMO R35",power:570,speed:2791,acceleration:1141,handling:3091,nitro:4391,efficiency:625},
        {name:"Gallardo LP560-4",power:560,speed:3001,acceleration:1256,handling:2752,nitro:4198,efficiency:600},
        {name:"GT-R R35",power:558,speed:2705,acceleration:1055,handling:3005,nitro:4405,efficiency:595}
    ];
</script>
<script src="js/vue.min.js"></script>
<script src="js/list.js"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-75407936-1', 'auto');
ga('send', 'pageview');
</script>
</body>
</html>
