<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
<title>[ドリフトスピリッツ] 戦闘力のシミュレーションができる車種一覧</title>
<meta name="description" content="ドリフトスピリッツの車種一覧です。レアリティや＋を指定したり、パーツ、愛車レベルを入力して戦闘力のシミュレーションができます。☆7に対応しました。Chevalier, Z31, Heaven and Hellなどのイベント車を追加しました。">
<meta name="fragment" content="!">
<link rel="stylesheet" href="css/list.css" media="all">
<link rel="canonical" href="http://manoamano.starfree.jp/content/driftspirits/car/list.html">
</head>
<body>

<div id="wrapper">
<h1 class="mainTitle">ドリフトスピリッツ 車種一覧</h1>

<div id="content">
<p class="text">初期レアリティ別に表示しています。レアリティや＋を指定したり、パーツ、愛車レベルを入力して戦闘力のシミュレーションができます。<br>
※星7は解禁/未解禁も含めて計算上の値を表示しています。</p>

<div id="threeStars">
<h3 class="titleStar">初期レアリティ☆☆☆ (星3)</h3>
<div class="carListTool">
<span class="labelStatus">ステータス:</span>
<a href="#" class="btnStars starStatus{{stars}}" v-on:click="incrementStar"></a>
<a href="#" class="btnPlus plusStatus{{plus}}" v-on:click="incrementPlus"><span class="firstPlus">+</span><span class="secondPlus">+</span></a>
<a href="#" class="btnParts" v-on:click="toggleParts">パーツ</a>
</div>
<div class="parts clearfix close" id="threeStarsParts">
<ul>
<li>
<dl class="clearfix">
<dt>愛車レベル</dt>
<dd>レベル: <input type="tel" v-model="carLevel" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>エンジン</dt>
<dd>サイズ: <input type="tel" v-model="parts.engine.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.engine.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>トランスミッション</dt>
<dd>サイズ: <input type="tel" v-model="parts.transmission.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.transmission.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>タイヤ</dt>
<dd>サイズ: <input type="tel" v-model="parts.tire.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.tire.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ニトロ</dt>
<dd>サイズ: <input type="tel" v-model="parts.nitro.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.nitro.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ECU</dt>
<dd>サイズ: <input type="tel" v-model="parts.ecu.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.ecu.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd class="freeType">種類: <select v-model="parts.free1.selected">
<option v-for="option in parts.free1.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free1.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free1.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd class="freeType">種類: <select v-model="parts.free2.selected">
<option v-for="option in parts.free2.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free2.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free2.level" class="iptParts"></dd>
</dl>
</li>
</ul>
<div class="btns">
<a href="#" v-on:click="saveParts" class="btnSave">反映</a>
<span class="saveMessage">{{saveMessage}}</span>
</div>
</div>
<table class="carList">
<tr>
<th>車名</th>
<th>戦闘力</th>
<th>高速</th>
<th>加速</th>
<th>ハンドリング</th>
<th>ニトロ</th>
<th>燃費</th>
</tr>
<tr v-for="car in cars">
<td><a href="{{car.link}}" v-if="car.link !== undefined" target="_blank">{{car.name}}</a><span v-else>{{car.name}}</span></td>
<td>{{car.power}}</td>
<td>{{car.speed}}</td>
<td>{{car.acceleration}}</td>
<td>{{car.handling}}</td>
<td>{{car.nitro}}</td>
<td>{{car.efficiency}}</td>
</tr>
</table>
</div>

<div id="fourStars">
<h3 class="titleStar">初期レアリティ☆☆☆☆ (星4)</h3>
<div class="carListTool">
<span class="labelStatus">ステータス:</span>
<a href="#" class="btnStars starStatus{{stars}}" v-on:click="incrementStar"></a>
<a href="#" class="btnPlus plusStatus{{plus}}" v-on:click="incrementPlus"><span class="firstPlus">+</span><span class="secondPlus">+</span></a>
<a href="#" class="btnParts" v-on:click="toggleParts">パーツ</a>
</div>
<div class="parts clearfix close" id="fourStarsParts">
<ul>
<li>
<dl class="clearfix">
<dt>愛車レベル</dt>
<dd>レベル: <input type="tel" v-model="carLevel" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>エンジン</dt>
<dd>サイズ: <input type="tel" v-model="parts.engine.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.engine.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>トランスミッション</dt>
<dd>サイズ: <input type="tel" v-model="parts.transmission.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.transmission.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>タイヤ</dt>
<dd>サイズ: <input type="tel" v-model="parts.tire.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.tire.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ニトロ</dt>
<dd>サイズ: <input type="tel" v-model="parts.nitro.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.nitro.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ECU</dt>
<dd>サイズ: <input type="tel" v-model="parts.ecu.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.ecu.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd class="freeType">種類: <select v-model="parts.free1.selected">
<option v-for="option in parts.free1.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free1.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free1.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd class="freeType">種類: <select v-model="parts.free2.selected">
<option v-for="option in parts.free2.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free2.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free2.level" class="iptParts"></dd>
</dl>
</li>
</ul>
<div class="btns">
<a href="#" v-on:click="saveParts" class="btnSave">反映</a>
<span class="saveMessage">{{saveMessage}}</span>
</div>
</div>
<table class="carList">
<tr>
<th>車名</th>
<th>戦闘力</th>
<th>高速</th>
<th>加速</th>
<th>ハンドリング</th>
<th>ニトロ</th>
<th>燃費</th>
</tr>
<tr v-for="car in cars">
<td><a href="{{car.link}}" v-if="car.link !== undefined" target="_blank">{{car.name}}</a><span v-else>{{car.name}}</span></td>
<td>{{car.power}}</td>
<td>{{car.speed}}</td>
<td>{{car.acceleration}}</td>
<td>{{car.handling}}</td>
<td>{{car.nitro}}</td>
<td>{{car.efficiency}}</td>
</tr>
</table>
</div>

<div id="fiveStars">
<h3 class="titleStar">初期レアリティ☆☆☆☆☆ (星5)</h3>
<div class="carListTool">
<span class="labelStatus">ステータス:</span>
<a href="#" class="btnStars starStatus{{stars}}" v-on:click="incrementStar"></a>
<a href="#" class="btnPlus plusStatus{{plus}}" v-on:click="incrementPlus"><span class="firstPlus">+</span><span class="secondPlus">+</span></a>
<a href="#" class="btnParts" v-on:click="toggleParts">パーツ</a>
</div>
<div class="parts clearfix close" id="fiveStarsParts">
<ul>
<li>
<dl class="clearfix">
<dt>愛車レベル</dt>
<dd>レベル: <input type="tel" v-model="carLevel" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>エンジン</dt>
<dd>サイズ: <input type="tel" v-model="parts.engine.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.engine.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>トランスミッション</dt>
<dd>サイズ: <input type="tel" v-model="parts.transmission.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.transmission.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>タイヤ</dt>
<dd>サイズ: <input type="tel" v-model="parts.tire.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.tire.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ニトロ</dt>
<dd>サイズ: <input type="tel" v-model="parts.nitro.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.nitro.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ECU</dt>
<dd>サイズ: <input type="tel" v-model="parts.ecu.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.ecu.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd class="freeType">種類: <select v-model="parts.free1.selected">
<option v-for="option in parts.free1.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free1.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free1.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd class="freeType">種類: <select v-model="parts.free2.selected">
<option v-for="option in parts.free2.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free2.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free2.level" class="iptParts"></dd>
</dl>
</li>
</ul>
<div class="btns">
<a href="#" v-on:click="saveParts" class="btnSave">反映</a>
<span class="saveMessage">{{saveMessage}}</span>
</div>
</div>
<table class="carList">
<tr>
<th>車名</th>
<th>戦闘力</th>
<th>高速</th>
<th>加速</th>
<th>ハンドリング</th>
<th>ニトロ</th>
<th>燃費</th>
</tr>
<tr v-for="car in cars">
<td><a href="{{car.link}}" v-if="car.link !== undefined" target="_blank">{{car.name}}</a><span v-else>{{car.name}}</span></td>
<td>{{car.power}}</td>
<td>{{car.speed}}</td>
<td>{{car.acceleration}}</td>
<td>{{car.handling}}</td>
<td>{{car.nitro}}</td>
<td>{{car.efficiency}}</td>
</tr>
</table>
</div>

<div id="sixStars">
<h3 class="titleStar">初期レアリティ☆☆☆☆☆☆ (星6)</h3>
<div class="carListTool">
<span class="labelStatus">ステータス:</span>
<a href="#" class="btnStars starStatus{{stars}}" v-on:click="incrementStar"></a>
<a href="#" class="btnPlus plusStatus{{plus}}" v-on:click="incrementPlus"><span class="firstPlus">+</span><span class="secondPlus">+</span></a>
<a href="#" class="btnParts" v-on:click="toggleParts">パーツ</a>
</div>
<div class="parts clearfix close" id="sixStarsParts">
<ul>
<li>
<dl class="clearfix">
<dt>愛車レベル</dt>
<dd>レベル: <input type="tel" v-model="carLevel" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>エンジン</dt>
<dd>サイズ: <input type="tel" v-model="parts.engine.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.engine.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>トランスミッション</dt>
<dd>サイズ: <input type="tel" v-model="parts.transmission.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.transmission.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>タイヤ</dt>
<dd>サイズ: <input type="tel" v-model="parts.tire.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.tire.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ニトロ</dt>
<dd>サイズ: <input type="tel" v-model="parts.nitro.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.nitro.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ECU</dt>
<dd>サイズ: <input type="tel" v-model="parts.ecu.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.ecu.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd class="freeType">種類: <select v-model="parts.free1.selected">
<option v-for="option in parts.free1.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free1.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free1.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd class="freeType">種類: <select v-model="parts.free2.selected">
<option v-for="option in parts.free2.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free2.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free2.level" class="iptParts"></dd>
</dl>
</li>
</ul>
<div class="btns">
<a href="#" v-on:click="saveParts" class="btnSave">反映</a>
<span class="saveMessage">{{saveMessage}}</span>
</div>
</div>
<table class="carList">
<tr>
<th>車名</th>
<th>戦闘力</th>
<th>高速</th>
<th>加速</th>
<th>ハンドリング</th>
<th>ニトロ</th>
<th>燃費</th>
</tr>
<tr v-for="car in cars">
<td><a href="{{car.link}}" v-if="car.link !== undefined" target="_blank">{{car.name}}</a><span v-else>{{car.name}}</span></td>
<td>{{car.power}}</td>
<td>{{car.speed}}</td>
<td>{{car.acceleration}}</td>
<td>{{car.handling}}</td>
<td>{{car.nitro}}</td>
<td>{{car.efficiency}}</td>
</tr>
</table>
</div>

<div id="sevenStars">
<h3 class="titleStar">初期レアリティ☆☆☆☆☆☆ (星7)</h3>
<div class="carListTool">
<span class="labelStatus">ステータス:</span>
<a href="#" class="btnStars starStatus{{stars}}" v-on:click="incrementStar"></a>
<a href="#" class="btnParts" v-on:click="toggleParts">パーツ</a>
</div>
<div class="parts clearfix close" id="sevenStarsParts">
<ul>
<li>
<dl class="clearfix">
<dt>愛車レベル</dt>
<dd>レベル: <input type="tel" v-model="carLevel" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>エンジン</dt>
<dd>サイズ: <input type="tel" v-model="parts.engine.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.engine.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>トランスミッション</dt>
<dd>サイズ: <input type="tel" v-model="parts.transmission.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.transmission.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>タイヤ</dt>
<dd>サイズ: <input type="tel" v-model="parts.tire.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.tire.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ニトロ</dt>
<dd>サイズ: <input type="tel" v-model="parts.nitro.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.nitro.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>ECU</dt>
<dd>サイズ: <input type="tel" v-model="parts.ecu.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.ecu.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd class="freeType">種類: <select v-model="parts.free1.selected">
<option v-for="option in parts.free1.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free1.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free1.level" class="iptParts"></dd>
</dl>
</li>
<li>
<dl class="clearfix">
<dt>フリー</dt>
<dd class="freeType">種類: <select v-model="parts.free2.selected">
<option v-for="option in parts.free2.type" v-bind:value="option.value">{{option.text}}</option>
</select></dd>
<dd>サイズ: <input type="tel" v-model="parts.free2.size" class="iptParts"></dd>
<dd>レベル: <input type="tel" v-model="parts.free2.level" class="iptParts"></dd>
</dl>
</li>
</ul>
<div class="btns">
<a href="#" v-on:click="saveParts" class="btnSave">反映</a>
<span class="saveMessage">{{saveMessage}}</span>
</div>
</div>
<table class="carList">
<tr>
<th>車名</th>
<th>戦闘力</th>
<th>高速</th>
<th>加速</th>
<th>ハンドリング</th>
<th>ニトロ</th>
<th>燃費</th>
</tr>
<tr v-for="car in cars">
<td><a href="{{car.link}}" v-if="car.link !== undefined" target="_blank">{{car.name}}</a><span v-else>{{car.name}}</span></td>
<td>{{car.power}}</td>
<td>{{car.speed}}</td>
<td>{{car.acceleration}}</td>
<td>{{car.handling}}</td>
<td>{{car.nitro}}</td>
<td>{{car.efficiency}}</td>
</tr>
</table>
</div>

<div id="footer">
<p>お問い合わせ: <a href="https://twitter.com/drsp_tarooo">@drsp_tarooo</a>
</div>


<div id="compareDialog"></div>

</div>
</div>

<div id="footerMenu">
<div class="container">
<a href="#" id="btnCompare">比較する</a>
</div>
</div>

<script type="text/x-template" id="modalTemplate">
<div id="modal">
<div class="modalBox">
<a href="#" class="btnClose">x</a>
<h3 class="titleCompare">比較</h3>
<table class="carList">
<tr>
<th>車名</th>
<th>戦闘力</th>
<th>高速</th>
<th>加速</th>
<th>ハンドリング</th>
<th>ニトロ</th>
<th>燃費</th>
</tr>
{{carList}}
</table>
</div>
<div class="modalBg"></div>
</div>
</script>

<script>
var threeStarsCars = [
        {name:"ROADSTER RS NCEC-爆加-",power:445,speed:2125,acceleration:1040,handling:2225,nitro:3525,efficiency:325},
        {name:"DART GT",power:443,speed:2135,acceleration:745,handling:2245,nitro:3745,efficiency:315},
        {name:"Jack-o-Drifter",power:438,speed:2121,acceleration:455,handling:2300,nitro:3896,efficiency:300},
        {name:"FAIRLADY Z S30 -Version 735-",power:438,speed:2165,acceleration:786,handling:2795,nitro:3030,efficiency:325},
        {name:"John Cooper Works R56",power:436,speed:2155,acceleration:555,handling:2355,nitro:3655,efficiency:290},
        {name:"MAZDASPEED ATENZA GG3P",power:435,speed:2200,acceleration:600,handling:2200,nitro:3700,efficiency:315},
        {name:"INTEGRA TYPE-R DC5",power:432,speed:2162,acceleration:462,handling:2462,nitro:3562,efficiency:300},
        {name:"MR2 GT-S SW20",power:431,speed:2180,acceleration:580,handling:2280,nitro:3580,efficiency:320},
        {name:"LEVIN SR AE85 [SPEED STARS]",power:431,speed:2196,acceleration:546,handling:2296,nitro:3596,efficiency:310},
        {name:"CIVIC TYPE-R EK-9",power:429,speed:2136,acceleration:436,handling:2386,nitro:3636,efficiency:290},
        {name:"LEGACY B4 BM9",power:429,speed:2210,acceleration:560,handling:2210,nitro:3610,efficiency:315},
        {name:"ColtGalant GTO-MR A53C",power:429,speed:2121,acceleration:721,handling:2031,nitro:3721,efficiency:300},
        {name:"S800",power:428,speed:2005,acceleration:755,handling:2255,nitro:3555,efficiency:285},
        {name:"TOYOTA 86 ZN6",power:424,speed:2147,acceleration:547,handling:2247,nitro:3547,efficiency:300},
        {name:"SUBARU BRZ ZC6",power:424,speed:2147,acceleration:547,handling:2247,nitro:3547,efficiency:300},
        {name:"SYNCi \"PAC-MAN\" SP",power:422,speed:2156,acceleration:836,handling:2156,nitro:3306,efficiency:310},
        {name:"FTO DE3A",power:421,speed:2147,acceleration:547,handling:2197,nitro:3547,efficiency:310},
        {name:"FAIRLADY Z S30-爆高-",power:421,speed:2296,acceleration:446,handling:2196,nitro:3496,efficiency:350},
        {name:"180SX RPS13",power:420,speed:2151,acceleration:501,handling:2201,nitro:3551,efficiency:315},
        {name:"CooperS F56",power:420,speed:2129,acceleration:429,handling:2229,nitro:3629,efficiency:280},
        {name:"CELICA XX 2800GT MA61",power:420,speed:2126,acceleration:526,handling:2126,nitro:3626,efficiency:325},
        {name:"ROADSTER NCEC",power:420,speed:2125,acceleration:525,handling:2225,nitro:3525,efficiency:305},
        {name:"CR-Z ZF2",power:419,speed:2088,acceleration:618,handling:2088,nitro:3588,efficiency:265},
        {name:"SPRINTER TRUENO AE86",power:416,speed:2096,acceleration:546,handling:2196,nitro:3496,efficiency:305},
        {name:"SPRINTER TRUENO AE86-爆エコ-",power:411,speed:2076,acceleration:526,handling:2196,nitro:3426,efficiency:285},
        {name:"FAIRLADY Z S30",power:411,speed:2096,acceleration:446,handling:2196,nitro:3496,efficiency:340},
        {name:"SUBARU360 K111",power:398,speed:1921,acceleration:421,handling:2211,nitro:3421,efficiency:280},
        {name:"HIACE [北見サイクル]",power:387,speed:2088,acceleration:288,handling:1988,nitro:3388,efficiency:325}
    ],
    fourStarsCars = [
        /*
        {name:"FALKEN PETORONAS OTG86",power:485,speed:2451,acceleration:851,handling:2551,nitro:3851,efficiency:430},
        {name:"SUNOCO/Diversion/Dixcel SILVIA",power:483,speed:2404,acceleration:754,handling:2604,nitro:3904,efficiency:435},
        {name:"HKS Racing Performer 86",power:480,speed:2366,acceleration:766,handling:2716,nitro:3766,efficiency:420},
        */
        {name:"TRUENO 2door AE86 信司Ver.",power:490,speed:2336,acceleration:986,handling:2699,nitro:3798,efficiency:395},
        {name:"TRUENO 2door AE86 信司Ver. -究極コラボ- ",power:489,speed:2336,acceleration:986,handling:2699,nitro:3769,efficiency:395},
        {name:"FAIRLADY Z Z33 池田Ver. -究極コラボ-",power:488,speed:2555,acceleration:801,handling:2648,nitro:3769,efficiency:400},
        {name:"MR2 G-Limited SW20 小柏カイVer.",power:488,speed:2347,acceleration:897,handling:2804,nitro:3727,efficiency:405},
        {name:"BRZ \"Greyhound\"",power:488,speed:2832,acceleration:980,handling:2832,nitro:3127,efficiency:410},
        {name:"LANCER Evolution IX \"BlackSwan\"",power:488,speed:2505,acceleration:1123,handling:2505,nitro:3643,efficiency:410},
        {name:"RCT \"ブラックバード\"",power:488,speed:2495,acceleration:995,handling:2295,nitro:3975,efficiency:450},
        {name:"SKYLINE GT-R BNR34 \"赤蜻蛉\"",power:487,speed:2456,acceleration:806,handling:2556,nitro:3936,efficiency:400},
        {name:"RX-7 FD3S 荻島SPL -究極コラボ-",power:487,speed:2351,acceleration:1136,handling:2631,nitro:3631,efficiency:410},
        {name:"FAIRLADY Z Z32 マコトVer. -究極コラボ-",power:487,speed:2391,acceleration:791,handling:2641,nitro:3919,efficiency:435},
        {name:"ROADSTER NA6CE 末次トオルVer.",power:486,speed:2307,acceleration:984,handling:2702,nitro:3729,efficiency:395},
        {name:"LANCER Evolution III 須藤Ver. -究極コラボ-",power:486,speed:2442,acceleration:769,handling:2605,nitro:3915,efficiency:415},
        {name:"RX-7 FD3S 荻島SPL",power:485,speed:2336,acceleration:1131,handling:2626,nitro:3626,efficiency:410},
        {name:"SUPRA RZ JZA80 \"モンスターマシーン\"",power:485,speed:2401,acceleration:921,handling:2451,nitro:3931,efficiency:455},
        {name:"ROADSTER \"飛燕\"",power:484,speed:2307,acceleration:960,handling:2671,nitro:3752,efficiency:395},
        {name:"SILVIA spec.R S15 奥山Ver.",power:484,speed:2583,acceleration:783,handling:2283,nitro:4048,efficiency:400},
        {name:"RX-7 FD3S [木村チューン]",power:484,speed:2726,acceleration:1147,handling:2236,nitro:3585,efficiency:415},
        {name:"B-WEST 180SX with 柿本改 D2",power:484,speed:2339,acceleration:701,handling:2730,nitro:3922,efficiency:415},
        {name:"LANCER Evolution III CE9A [Emperor]",power:483,speed:2440,acceleration:709,handling:2602,nitro:3915,efficiency:415},
        {name:"山下ファクトリー/FAIRLADY Z Z32",power:482,speed:2391,acceleration:791,handling:2541,nitro:3919,efficiency:435},
        {name:"LEVIN GT-APEX AE86 秋山渉Ver.",power:481,speed:2709,acceleration:1003,handling:2017,nitro:3906,efficiency:405},
        {name:"LYZER Z334",power:481,speed:2539,acceleration:962,handling:2524,nitro:3605,efficiency:420},
        {name:"NAC DUNLOP BRIDE ER34",power:480,speed:2388,acceleration:900,handling:2750,nitro:3579,efficiency:380},
        {name:"ST. GARAGE WEDS D1 MARK II",power:479,speed:2391,acceleration:1133,handling:2457,nitro:3608,efficiency:390},
        {name:"IMPREZA WRX STI GVB",power:479,speed:2377,acceleration:907,handling:2397,nitro:3902,efficiency:390},
        {name:"ZESTINO TIRE VERTEX D1 SOARER",power:479,speed:2637,acceleration:895,handling:2445,nitro:3612,efficiency:395},
        {name:"WORKS-R/LANCER EvolutionV",power:479,speed:2341,acceleration:841,handling:2441,nitro:3961,efficiency:410},
        {name:"WORKS-R/LANCER EvolutionVI",power:479,speed:2441,acceleration:941,handling:2349,nitro:3861,efficiency:415},
        {name:"ハダカスープラ",power:479,speed:2602,acceleration:718,handling:2327,nitro:3944,efficiency:415},
        {name:"CAMARO SS RS",power:479,speed:2398,acceleration:798,handling:2398,nitro:3998,efficiency:430},
        {name:"SKYLINE GT-R BNR32 平本Ver.",power:479,speed:2541,acceleration:841,handling:2441,nitro:3761,efficiency:460},
        {name:"Z4 sDrive35is E89",power:478,speed:2450,acceleration:970,handling:2550,nitro:3600,efficiency:390},
        {name:"RC926 with TOYO TIRES SILVIA",power:478,speed:2360,acceleration:789,handling:2569,nitro:3855,efficiency:405},
        {name:"TOYO TIRES DRIFT S15 SILVIA'15",power:478,speed:2412,acceleration:722,handling:2521,nitro:3922,efficiency:410},
        {name:"CHARGER SRT8",power:478,speed:2417,acceleration:1117,handling:2117,nitro:3917,efficiency:440},
        {name:"FLATレーシング/SKYLINE R33",power:478,speed:2431,acceleration:931,handling:2131,nitro:4081,efficiency:465},
        {name:"EXEDY HID信玄 H.D.O NA6CE",power:477,speed:2428,acceleration:1076,handling:2475,nitro:3570,efficiency:390},
        {name:"Focus RS",power:477,speed:2420,acceleration:920,handling:2418,nitro:3801,efficiency:405},
        {name:"TOYO TIRES・TADOKORO TRUENO",power:477,speed:2111,acceleration:931,handling:2693,nitro:3822,efficiency:410},
        {name:"CHALLENGER SRT8",power:477,speed:2412,acceleration:1012,handling:2112,nitro:4012,efficiency:440},
        {name:"LANCER Evolution IV [4th anniv.]",power:476,speed:2375,acceleration:895,handling:2545,nitro:3705,efficiency:390},
        {name:"TEAM RYOJI WAKO'S LAUREL",power:476,speed:2413,acceleration:905,handling:2469,nitro:3741,efficiency:390},
        {name:"FD3S 頭文字D-夢現-Ver.",power:476,speed:2467,acceleration:792,handling:2469,nitro:3800,efficiency:400},
        {name:"D-MAX S15 SILVIA 2JZ",power:476,speed:2707,acceleration:810,handling:2350,nitro:3666,efficiency:400},
        {name:"RX-7 FD3S 擬音Ver.",power:476,speed:2467,acceleration:792,handling:2469,nitro:3811,efficiency:420},
        {name:"SKYLINE GT-R BNR32 -爆高-",power:476,speed:2506,acceleration:656,handling:2506,nitro:3856,efficiency:420},
        {name:"14R ZN6",power:475,speed:2383,acceleration:933,handling:2683,nitro:3503,efficiency:385},
        {name:"TCP MAGIC RX-7",power:474,speed:2320,acceleration:948,handling:2435,nitro:3785,efficiency:395},
        {name:"RX-7 FC3S 擬音Ver.",power:473,speed:2390,acceleration:742,handling:2611,nitro:3736,efficiency:380},
        {name:"MR-S ZZW30",power:473,speed:2352,acceleration:852,handling:2402,nitro:3857,efficiency:395},
        {name:"SKYLINE GT-R BCNR33 [3rd anniv.]",power:473,speed:2436,acceleration:801,handling:2496,nitro:3736,efficiency:395},
        {name:"FALKEN PETRONAS OTG86'15",power:473,speed:2397,acceleration:815,handling:2611,nitro:3646,efficiency:400},
        {name:"\"悪魔のZ\" -究極コラボ-",power:472,speed:2347,acceleration:857,handling:2272,nitro:3982,efficiency:420},
        {name:"ALTO WORKS HA36S",power:471,speed:2347,acceleration:867,handling:2247,nitro:3967,efficiency:370},
        {name:"SWIFT SPORT ZC32S",power:471,speed:2300,acceleration:950,handling:2570,nitro:3600,efficiency:385},
        {name:"GT-R BNR32 レイナVer. -究極コラボ-",power:471,speed:2311,acceleration:711,handling:2621,nitro:3791,efficiency:385},
        {name:"RK coupe",power:471,speed:2334,acceleration:834,handling:2434,nitro:3834,efficiency:385},
        {name:"LANCER EvolutionVIII MR CT9A",power:471,speed:2306,acceleration:706,handling:2506,nitro:3906,efficiency:405},
        {name:"FAIRLADY Z S30 \"悪魔のZ\"",power:471,speed:2347,acceleration:847,handling:2272,nitro:3972,efficiency:420},
        {name:"S660 JW5",power:470,speed:2247,acceleration:1547,handling:2559,nitro:3047,efficiency:360},
        /*
        {name:"AE86 頭文字D Ver.",power:470,speed:2276,acceleration:726,handling:2726,nitro:3676,efficiency:410},
        */
        {name:"S2000 AP2 エリVer. -究極コラボ-",power:469,speed:2291,acceleration:711,handling:2591,nitro:3791,efficiency:380},
        {name:"LANCER EvolutionV CP9A",power:468,speed:2306,acceleration:756,handling:2406,nitro:3906,efficiency:405},
        {name:"SKYLINE GT-R BNR32",power:468,speed:2306,acceleration:656,handling:2506,nitro:3906,efficiency:420},
        {name:"SKYLINE GT-R BNR34",power:468,speed:2306,acceleration:656,handling:2506,nitro:3906,efficiency:420},
        {name:"CHARGER R/T",power:468,speed:2394,acceleration:944,handling:2144,nitro:3894,efficiency:440},
        /*
        {name:"DRIVE TOPTUL ADVAN 86",power:467,speed:2261,acceleration:661,handling:2361,nitro:4061,efficiency:405},
        */
        {name:"TRUENO AE86 擬音Ver.",power:466,speed:2232,acceleration:716,handling:2739,nitro:3652,efficiency:375},
        {name:"TRUENO AE86 -究極コラボ-",power:466,speed:2232,acceleration:716,handling:2733,nitro:3652,efficiency:375},
        {name:"S2000 AP1",power:466,speed:2284,acceleration:584,handling:2584,nitro:3884,efficiency:390},
        {name:"SAVANNA RX-7 SA22C -爆高-",power:466,speed:2671,acceleration:621,handling:2421,nitro:3621,efficiency:400},
        {name:"ARISTO V300 JZS161",power:466,speed:2305,acceleration:1005,handling:2005,nitro:4005,efficiency:400},
        {name:"CHASER JZX100 -爆加-",power:466,speed:2306,acceleration:956,handling:2406,nitro:3656,efficiency:405},
        {name:"SUPRA RZ JZA80",power:466,speed:2306,acceleration:706,handling:2406,nitro:3906,efficiency:410},
        {name:"スーパーぽち メイクヒロタ RSワタナベ ロードスター",power:465,speed:2399,acceleration:988,handling:2344,nitro:3572,efficiency:365},
        {name:"AE86 頭文字D-夢現- Ver.",power:465,speed:2222,acceleration:716,handling:2723,nitro:3652,efficiency:375},
        {name:"SKYLINE GT-R BNR34 -爆エコ-",power:465,speed:2291,acceleration:641,handling:2486,nitro:3886,efficiency:380},
        {name:"TOYOTA 86 ZN6 -爆ハン-",power:464,speed:2247,acceleration:647,handling:2747,nitro:3647,efficiency:390},
        {name:"LANCER EvolutionIII CE9A",power:464,speed:2299,acceleration:699,handling:2399,nitro:3899,efficiency:400},
        {name:"GTO Z16A",power:463,speed:2306,acceleration:656,handling:2306,nitro:4006,efficiency:420},
        {name:"IMPREZA WRX STi VersionVI GC8",power:463,speed:2306,acceleration:656,handling:2406,nitro:3906,efficiency:400},
        {name:"IMPREZA WRX STI GDB-F",power:463,speed:2306,acceleration:656,handling:2406,nitro:3906,efficiency:400},
        {name:"SKYLINE GT-R BCNR33",power:463,speed:2306,acceleration:656,handling:2406,nitro:3906,efficiency:410},
        {name:"SILVIA K's S13 [SPEED STARS]",power:462,speed:2364,acceleration:655,handling:2504,nitro:3722,efficiency:380},
        {name:"IMPREZA WRX STi GDB-C",power:462,speed:2306,acceleration:636,handling:2406,nitro:3906,efficiency:395},
        {name:"RX-8 SE3P",power:462,speed:2286,acceleration:686,handling:2486,nitro:3786,efficiency:405},
        {name:"SKYLINE GTS-R R31",power:462,speed:2304,acceleration:854,handling:2194,nitro:3894,efficiency:435},
        {name:"SKYLINE RS-X Turbo C R30",power:460,speed:2300,acceleration:850,handling:2250,nitro:3800,efficiency:390},
        {name:"SAVANNA RX-7 FC3S",power:460,speed:2251,acceleration:651,handling:2551,nitro:3751,efficiency:430},
        {name:"SILVIA spec.R S15",power:459,speed:2284,acceleration:634,handling:2484,nitro:3784,efficiency:390},
        {name:"SILVIA K's S13",power:459,speed:2384,acceleration:784,handling:2284,nitro:3734,efficiency:400},
        {name:"CHASER JZX100",power:456,speed:2306,acceleration:656,handling:2406,nitro:3756,efficiency:405},
        {name:"FAIRLADY Z Z32",power:456,speed:2306,acceleration:606,handling:2406,nitro:3806,efficiency:425},
        {name:"FAIRLADY Z Z31",power:455,speed:2301,acceleration:599,handling:2396,nitro:3804,efficiency:410},
        {name:"CORVETTE C3",power:454,speed:2324,acceleration:724,handling:2124,nitro:3924,efficiency:435},
        {name:"Focus ST",power:451,speed:2150,acceleration:820,handling:2258,nitro:3801,efficiency:385},
        {name:"CROWN ATHLETE GRS204",power:451,speed:2332,acceleration:732,handling:2132,nitro:3832,efficiency:405},
        {name:"SKYLINE 2000GT-R KPGC10",power:450,speed:2317,acceleration:767,handling:2217,nitro:3717,efficiency:365},
        {name:"SAVANNA RX-7 SA22C",power:444,speed:2221,acceleration:621,handling:2421,nitro:3621,efficiency:400},
        {name:"ALCYONE SVX CXD",power:442,speed:2277,acceleration:627,handling:2177,nitro:3777,efficiency:420},
        {name:"COPEN Robe LA400K",power:435,speed:2147,acceleration:697,handling:2117,nitro:3747,efficiency:365},
        {name:"SPORTS800 UP15",power:430,speed:2153,acceleration:653,handling:2153,nitro:3653,efficiency:345}
    ],
    fiveStarsCars = [
        /*
        {name:"雨宮SUNOCO RX-7",power:508,speed:2494,acceleration:794,handling:2794,nitro:4094,efficiency:550},
        {name:"TOYO TIRES DRIFT S15",power:506,speed:2519,acceleration:869,handling:2719,nitro:4019,efficiency:520},
        {name:"UP GARAGE・FALKEN・HT86",power:498,speed:2481,acceleration:1031,handling:2581,nitro:3881,efficiency:475},
        */
        {name:"JUKE-R 2.0",power:531,speed:2672,acceleration:1071,handling:2706,nitro:4171,efficiency:505},
        {name:"Ford GT \"Heaven and Hell\"",power:528,speed:2580,acceleration:1369,handling:2810,nitro:3810,efficiency:505},
        {name:"SUNOCO MONSTER CORVETTE",power:526,speed:2651,acceleration:1351,handling:2986,nitro:3541,efficiency:505},
        {name:"RX-7 Type R FD3S [PROJECT.D] オーラVer.",power:526,speed:2786,acceleration:1291,handling:2661,nitro:3801,efficiency:505},
        {name:"GReddy 35RX SPEC-D'17",power:525,speed:2951,acceleration:1323,handling:2680,nitro:3555,efficiency:500},
        {name:"CORVETTE ZR1 \"Brightest Nite\"",power:525,speed:2770,acceleration:1275,handling:2475,nitro:3980,efficiency:500},
        {name:"SKYLINE GT-R BNR32 死神Ver.",power:524,speed:2808,acceleration:1198,handling:2688,nitro:3788,efficiency:495},
        {name:"GT-R BNR34 星野Ver.",power:523,speed:2631,acceleration:943,handling:3077,nitro:3828,efficiency:500},
        {name:"\"悪魔のZ\"[北見チューン改] -究極コラボ-",power:523,speed:2847,acceleration:1147,handling:2507,nitro:3977,efficiency:520},
        {name:"\"ブラックバード\" C1ランナー -究極コラボ-",power:523,speed:2676,acceleration:987,handling:2705,nitro:4102,efficiency:550},
        {name:"S2000 AP1 城島Ver.",power:522,speed:2621,acceleration:1271,handling:2612,nitro:3955,efficiency:490},
        {name:"GT-R BNR34 星野Ver. -究極コラボ-",power:522,speed:2631,acceleration:943,handling:3043,nitro:3828,efficiency:500},
        {name:"GT-R R35 アライズ -究極コラボ-",power:522,speed:2771,acceleration:1026,handling:2443,nitro:4212,efficiency:505},
        {name:"CORVETTE C6 ZR1",power:522,speed:2676,acceleration:1026,handling:2576,nitro:4176,efficiency:510},
        {name:"RCT \"ブラックバード\" C1ランナーVer.",power:522,speed:2656,acceleration:987,handling:2705,nitro:4102,efficiency:550},
        {name:"\"ブラックバード\" [北見チューン] -究極コラボ-",power:522,speed:2706,acceleration:987,handling:2645,nitro:4102,efficiency:550},
        {name:"SLS AMG GT C197",power:521,speed:2719,acceleration:1219,handling:2619,nitro:3669,efficiency:485},
        {name:"S2000 AP1 城島Ver. -究極コラボ-",power:521,speed:2621,acceleration:1233,handling:2612,nitro:3955,efficiency:490},
        {name:"FAIRLADY Z Z34 \"Chevalier\"",power:521,speed:2912,acceleration:1040,handling:2942,nitro:3536,efficiency:495},
        {name:"FAIRLADY Z S30 \"悪魔のZ\"[北見チューン改]",power:521,speed:2807,acceleration:1147,handling:2507,nitro:3977,efficiency:520},
        {name:"\"悪魔のZ\"[北見チューン] -究極コラボ-",power:521,speed:2627,acceleration:1077,handling:2657,nitro:4067,efficiency:520},
        {name:"TRUENO AE86 [PROJECT.D] -究極コラボ-",power:520,speed:2506,acceleration:943,handling:3244,nitro:3725,efficiency:480},
        {name:"RX-8 SE3P \"松風\"",power:520,speed:2720,acceleration:1350,handling:3026,nitro:3320,efficiency:485},
        {name:"SUPRA RZ JZA80 \"紅獅子\"",power:520,speed:3003,acceleration:1585,handling:2153,nitro:3665,efficiency:490},
        {name:"RX-7 Type R FD3S [PROJECT.D]",power:520,speed:2722,acceleration:1033,handling:2645,nitro:4001,efficiency:505},
        {name:"RX-7 FD3S [PROJECT.D] -究極コラボ-",power:520,speed:2722,acceleration:1151,handling:2645,nitro:3901,efficiency:505},
        {name:"LFA LFA10",power:519,speed:2661,acceleration:1361,handling:2761,nitro:3611,efficiency:480},
        {name:"M5 \"Helter Skelter\"",power:519,speed:2411,acceleration:1111,handling:2861,nitro:4011,efficiency:490},
        {name:"IMPREZA WRX STi GC8 藤原文太Ver.",power:519,speed:2705,acceleration:1123,handling:2847,nitro:3720,efficiency:500},
        {name:"GReddy 35RX SPEC-D'16",power:519,speed:2856,acceleration:1266,handling:2463,nitro:3804,efficiency:505},
        {name:"SILVIA S15 \"朧月\"",power:518,speed:2975,acceleration:1146,handling:2676,nitro:3568,efficiency:485},
        {name:"CTS-V",power:517,speed:2849,acceleration:1497,handling:2277,nitro:3727,efficiency:475},
        {name:"TRUENO GT-APEX AE86 [PROJECT.D]",power:517,speed:2346,acceleration:943,handling:3344,nitro:3725,efficiency:475},
        {name:"MARK X G's GRX133",power:517,speed:2857,acceleration:1069,handling:2657,nitro:3757,efficiency:480},
        {name:"LANCER Evolution X Final Concept",power:517,speed:2836,acceleration:870,handling:2728,nitro:3913,efficiency:485},
        {name:"RX-7 FC3S [PROJECT.D]",power:517,speed:2636,acceleration:937,handling:3046,nitro:3736,efficiency:485},
        {name:"GReddy 35RX Spec-D",power:517,speed:2490,acceleration:1069,handling:2774,nitro:4020,efficiency:500},
        {name:"DUNLOP OTG 86",power:517,speed:2777,acceleration:1209,handling:2968,nitro:3400,efficiency:500},
        {name:"BMW M5 F10M",power:517,speed:2612,acceleration:962,handling:2612,nitro:4162,efficiency:500},
        {name:"GULF ZESTINO S2000",power:516,speed:2630,acceleration:1180,handling:2930,nitro:3580,efficiency:470},
        {name:"CTR RISING SUN",power:516,speed:2721,acceleration:1025,handling:2575,nitro:4001,efficiency:510},
        {name:"RCT \"ブラックバード\" [北見チューン]",power:516,speed:2645,acceleration:1170,handling:2365,nitro:4145,efficiency:550},
        {name:"WRX STI Type S VAB",power:515,speed:2577,acceleration:1127,handling:2527,nitro:4077,efficiency:490},
        {name:"GT-R R34 アライズ7号 -究極コラボ-",power:515,speed:2781,acceleration:958,handling:2763,nitro:3808,efficiency:505},
        {name:"WISTERIA 180SX",power:514,speed:2212,acceleration:973,handling:3471,nitro:3633,efficiency:480},
        {name:"GT-R R34 アライズ7号",power:513,speed:2761,acceleration:938,handling:2743,nitro:3828,efficiency:505},
        {name:"VIPER SRT10",power:513,speed:2604,acceleration:1254,handling:2504,nitro:3904,efficiency:530},
        {name:"TOYOTA 86 \"Serval Cat\"",power:512,speed:2626,acceleration:1222,handling:3026,nitro:3370,efficiency:495},
        {name:"MR-S S EDITION ZZW30 小柏カイVer.",power:512,speed:2457,acceleration:1062,handling:2947,nitro:3777,efficiency:495},
        {name:"Ford GT",power:511,speed:2808,acceleration:1110,handling:2410,nitro:3910,efficiency:505},
        {name:"SWIFT SPORT \"Hummingbird\"",power:510,speed:2361,acceleration:1297,handling:2898,nitro:3663,efficiency:460},
        {name:"Mustang GT FASTBACK",power:510,speed:2508,acceleration:1131,handling:2572,nitro:4008,efficiency:470},
        {name:"CAPPUCCINO EA11R 坂本Ver.",power:510,speed:2295,acceleration:1567,handling:2595,nitro:3745,efficiency:475},
        {name:"M3 COUPE E92",power:510,speed:2577,acceleration:937,handling:2587,nitro:4107,efficiency:475},
        {name:"S2000 AP1 \"雀蜂\"",power:510,speed:2614,acceleration:754,handling:2814,nitro:4034,efficiency:485},
        {name:"NSX NA1 北条Ver. -究極コラボ-",power:510,speed:2691,acceleration:938,handling:2743,nitro:3828,efficiency:500},
        {name:"STI Performance Concept",power:509,speed:2700,acceleration:1272,handling:2519,nitro:3708,efficiency:490},
        {name:"SKYLINE V37 60th Limited",power:508,speed:2547,acceleration:1167,handling:2437,nitro:4017,efficiency:500},
        {name:"NSX NA1 北条豪Ver.",power:508,speed:2661,acceleration:938,handling:2743,nitro:3828,efficiency:500},
        {name:"K'SPEC PEAKY ARCS JZA80 SUPRA",power:508,speed:2688,acceleration:1006,handling:2656,nitro:3824,efficiency:500},
        {name:"NSX-R NA2 -Version Halloween-",power:507,speed:2711,acceleration:1150,handling:2621,nitro:3674,efficiency:485},
        {name:"86 GRMN",power:507,speed:2458,acceleration:1217,handling:2813,nitro:3654,efficiency:490},
        {name:"FAIRLADY Z NISMO Z34",power:506,speed:2617,acceleration:897,handling:2617,nitro:4001,efficiency:490},
        {name:"CTR",power:504,speed:2525,acceleration:1005,handling:2655,nitro:3905,efficiency:500},
        {name:"TOPTUL M7 NATS 86",power:503,speed:2379,acceleration:1000,handling:2902,nitro:3789,efficiency:450},
        {name:"NACガールズ&パンツァーR34 DUNLOP BRIDE",power:503,speed:2481,acceleration:1027,handling:2850,nitro:3710,efficiency:465},
        {name:"GOODYEAR 130MARK X G's",power:503,speed:2885,acceleration:1165,handling:2215,nitro:3812,efficiency:590},
        {name:"Mercedes-Maybach S-Class",power:502,speed:2461,acceleration:1153,handling:2221,nitro:4217,efficiency:480},
        {name:"RE雨宮 GruppeM-RX7",power:502,speed:2459,acceleration:900,handling:2677,nitro:4011,efficiency:510},
        {name:"NACガールズ&パンツァーS14 激 IK",power:501,speed:2493,acceleration:1270,handling:2558,nitro:3708,efficiency:460},
        {name:"Miura P400SV",power:501,speed:2667,acceleration:897,handling:2449,nitro:4015,efficiency:490},
        {name:"Mustang BOSS 302",power:501,speed:2533,acceleration:1043,handling:2413,nitro:4043,efficiency:500},
        {name:"Countach LP400",power:500,speed:2479,acceleration:1129,handling:2629,nitro:3779,efficiency:500},
        {name:"LANCER Evolution FINAL EDITION",power:499,speed:2438,acceleration:801,handling:2733,nitro:4021,efficiency:470},
        {name:"FAIRLADY Z 300ZX Z31 原田Ver.",power:499,speed:2471,acceleration:1071,handling:2491,nitro:3951,efficiency:510},
        {name:"ZERO/SAVANNA RX-7 GT-X",power:499,speed:2471,acceleration:871,handling:2691,nitro:3951,efficiency:510},
        {name:"FD3S 頭文字D Ver.",power:499,speed:2426,acceleration:826,handling:2576,nitro:4156,efficiency:540},
        {name:"NSX-R NA2",power:498,speed:2406,acceleration:856,handling:2706,nitro:4006,efficiency:495},
        {name:"NSX TYPE-R NA1",power:498,speed:2355,acceleration:805,handling:2655,nitro:4155,efficiency:495},
        {name:"RX-7 Type R FD3S [林チューン]",power:498,speed:2486,acceleration:986,handling:2706,nitro:3786,efficiency:500},
        {name:"IMPREZA WRX STI GRB",power:497,speed:2427,acceleration:827,handling:2677,nitro:4027,efficiency:475},
        {name:"LANCER EvolutionX CZ4A",power:497,speed:2421,acceleration:771,handling:2721,nitro:4041,efficiency:480},
        {name:"RX-8 SE3P -爆ハン-",power:497,speed:2386,acceleration:786,handling:2886,nitro:3886,efficiency:505},
        {name:"LANCER EvolutionIX MR CT9A",power:496,speed:2406,acceleration:906,handling:2606,nitro:4006,efficiency:480},
        {name:"FC3S 頭文字D Ver.",power:495,speed:2391,acceleration:891,handling:2691,nitro:3941,efficiency:540},
        {name:"FC3S 頭文字D-夢現-Ver.",power:493,speed:2490,acceleration:842,handling:2711,nitro:3833,efficiency:460},
        {name:"SILEIGHTY 真子Ver. -究極コラボ-",power:491,speed:2321,acceleration:861,handling:2781,nitro:3860,efficiency:470},
        {name:"RX-7 FD3S",power:491,speed:2406,acceleration:706,handling:2706,nitro:4006,efficiency:510},
        {name:"YM SPEED/SKYLINE R32",power:489,speed:2391,acceleration:811,handling:2691,nitro:3891,efficiency:460},
        {name:"SILEIGHTY 真子＆沙雪Ver.",power:489,speed:2291,acceleration:861,handling:2781,nitro:3860,efficiency:465},
        {name:"FAIRLADY Z Z34",power:489,speed:2447,acceleration:797,handling:2547,nitro:3997,efficiency:490},
        {name:"COSMO SPORTS L10B",power:483,speed:2450,acceleration:1027,handling:2150,nitro:4035,efficiency:455},
        {name:"SKYLINE COUPE CKV36",power:481,speed:2445,acceleration:795,handling:2445,nitro:3945,efficiency:485},
        {name:"ROADSTER ND5RC",power:474,speed:2396,acceleration:946,handling:2546,nitro:3596,efficiency:430},
        {name:"FUGA 370GT TypeS Y51",power:474,speed:2445,acceleration:695,handling:2345,nitro:3995,efficiency:485},
        {name:"2000GT MF10",power:467,speed:2310,acceleration:810,handling:2410,nitro:3810,efficiency:440}
    ],
    sixStarsCars = [
        {name:"NSX NC1",power:585,speed:2913,acceleration:1413,handling:3313,nitro:4063,efficiency:610},
        {name:"NISSAN GT-R R35 \"Tachyon\"",power:573,speed:2861,acceleration:1401,handling:2851,nitro:4351,efficiency:630},
        {name:"Aventador LP700-4",power:571,speed:2974,acceleration:1484,handling:2954,nitro:4014,efficiency:605},
        {name:"GT-R NISMO R35",power:570,speed:2791,acceleration:1141,handling:3091,nitro:4391,efficiency:625},
        {name:"TRUENO GT-APEX AE86 [天駆ける翼]",power:565,speed:2796,acceleration:1276,handling:3500,nitro:3731,efficiency:580},
        {name:"Gallardo LP560-4",power:560,speed:3001,acceleration:1256,handling:2752,nitro:4198,efficiency:600},
        {name:"GT-R R35",power:558,speed:2705,acceleration:1055,handling:3005,nitro:4405,efficiency:595},
        {name:"FAIRLADY Z S30 \"悪魔のZ\"[北見チューン]",power:553,speed:2727,acceleration:1277,handling:2707,nitro:4367,efficiency:620}
    ],
    sevenStarsCars = [
        {name:"NISSAN GT-R NISMO R35 2017",power:660,speed:3201,acceleration:1732,handling:3536,nitro:4731,efficiency:750},
        {name:"NISSAN GT-R (R35) MY17",power:649,speed:3200,acceleration:1526,handling:3535,nitro:4730,efficiency:750}
    ];
</script>
<script src="js/vue.min.js"></script>
<script src="js/list.js"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-75407936-1', 'auto');
ga('send', 'pageview');
</script>
</body>
</html>
